/*main的css样式*/
.main{
	max-width: 1460px;
	margin: 0 auto;
	padding: 20px 30px;
}
.slideshow_box{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 602px;
}
.slideshow_box ul{
	// border: 10px solid #fff;
	width: 400%;
	position: absolute;
}
.slideshow_box ul li{
	float: left;
	width: 25%;
	height: 602px;
}
.slideshow_box ul li a{
	display: inline-block;
	width: 100%;
}
.slideshow_box ul li img{
	width: 100%;
}
.slideshow_box ol{
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%,-50%);
}
.slideshow_box ol li{
	float: left;
	margin-left: 30px;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-radius: 10px;
	cursor: pointer;
}
.slideshow_box ol li.active{
	background-color: #B403DB;
}
.btn_left_right{
	display: none;
}
.btn_left_right a{
	text-decoration: none;
	color: #fff;
	width: 42px;
	height: 70px;
	line-height: 70px;
	font:400 22px/62px simsun;
	text-align: center;
	display: block;
	background-color: rgba(0,0,0,.3);
	position: absolute;
}
.btn_left_right .btn_left{
	left: 10px;
	top: 50%;
}
.btn_left_right .btn_right{
	right:0px;
	top:50%;
}
.main_widget{
	margin: 20px 0px;
	overflow: hidden;
}
.main_widget_product{
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 1px dotted #000;

}
.main_widget_product ul{
	width: 100%;
}
.main_widget_product ul li{
	text-align: center;
	float: left;
	width: 33.23333%;
	border-right: 1px dotted #000;
}
.main_widget_product ul li a{
	text-decoration: none;
	font-size: 18px;
	color: #000;
}
.main_widget_product ul li a:hover{
	color: #B403DB;
	text-decoration:underline;
}
.main_widget_product ul li p{
	margin-bottom: 10px;
}
.main_widget_product ul li:last-child{
	border-right:none;
}
.main_product_img{
	overflow: hidden;
}
.main_product_img ul li{
	float: left;
	width: 30%;
	margin-right: 5%;
	// border: 1px solid #000;
	margin-bottom: 10px;
}
.main_product_img ul li:nth-child(3n){
	margin-right: 0;
}
.main_product_img ul li a{
	display: block;
	width: 100%;
}
.main_product_img ul li a img:hover{
	box-shadow: 1px 1px 10px #ccc;
}
.main_product_img ul li a img{
	width: 100%;
}
.main_hotsale{
	overflow: hidden;
}
.hotsal_product ul li{
	float: left;
	width: 18.2222%;
	margin-right: 2.22222%;
}
.hotsal_product ul li:last-child{
	margin-right:0px;
}
.hotsal_product ul li a{
	display: block;
	margin-bottom: 20px;
}
.hotsal_product ul li a img{
	width: 100%;
}
.hotsal_product ul li .product_img:hover{
	box-shadow: 1px 1px 10px #ccc;
}
.hotsal_title{
	margin-bottom: 20px;
}
.h2_t{
	color: #636363;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.product_info h3 a{
	font-size: 12px;
    text-transform: capitalize;
    text-align: left;
    height: 33px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: #636363;
}
.product_info h3 a:hover{
	color: #c405ee;
}
.product_price .old_price{
	color: #a0a0a0;
    text-decoration: line-through;
}
.product_price .new_price{
	float: right;
	color: #c405ee;
	font-size: 16px;
}
.main_styleGallery{
	margin-top: 20px;
}
.styleg_title{
	margin-bottom: 20px;
}
.style-g-All{
	overflow-y: scroll;
	height: 312px;
}
.ajaxloading{
	width: 100%;
    height: 100%;
    background: url(../images/ajaxloading.gif) center center no-repeat;
}
#gettop{
	background: #fafafa url(../images/web.png) no-repeat scroll -255px -94px;
	position: fixed;
	width: 45px;
	height: 45px;
	border: 1px solid #f2f2f2;
	bottom: 40px;
	right: 15px;
	display:none;
}
